html {
    height: 100%;
}

body {
    font-size: 16px;
}

div#layout {
    display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 0;
}

div#header {
    //border-bottom: 2px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -10px;
    box-shadow: 0px 0px 20px hsla(208,54%,50%,0.5);
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

.content {
    padding: 0 2em;
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    line-height: 1.6em;
    -webkit-flex: 1;
    flex: 1;
}

div#footer {
    border-top: solid 2px hsla(208,54%,44%,1);
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 12px 0px 12px 0px;
    text-align: right;
    position: relative;
}

div#footer span {
    margin-right: 30px;
}

.nsf-link img {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 20px;
}

div.info, span.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: flex;
}

.banner {
    height: 150px;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: hsla(208,51.3%,86.3%,1);
    border-width: 10px 0px 10px 0px;
    border-style: solid;
    border-color: hsla(208,51.3%,50%,1);
}

.banner-logo {
}

a.pure-menu-link.active {
    background: hsla(208,51.3%, 86%,1);
}

.pure-menu-heading {
    height:32px;
    width: 32px;
    display: flex;
}

.pure-menu-heading a, .pure-menu-heading span {
    align-self: center;
} 

.pure-menu-heading img{
    height:32px;
    width: 32px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

#menu span {
    color: hsla(208,54%,50%,1);
}

a {
    color: hsla(208,54%,44%,1);
    text-decoration: none;
}

a:visited {
    color: hsla(208,54%,44%,1);
}

.read-more-parent{
  height: 60px;
  position: relative;
}

.read-more {
   position: absolute;
   bottom:0px;
    padding: 8px;
    border-radius:20px;
    transition: background-color 0.2s;
    border: 1px solid hsla(208,54%,55%,1);
}

.read-more:hover {
    background-color: hsla(208,54%,91%,1);
}

.post-item{
    margin-bottom: 60px;
    list-style-type: none;
    border-left: 10px solid hsla(208,54%,91%,1);
    padding-left: 10px;
}

.archive li {
  margin-bottom: 20px;
  padding: 0px 10px 0px 10px;
  border-left: 3px solid hsla(208,54%,91%,1);
  border-right: 3px solid hsla(208,54%,91%,1);
  border-radius: 20px;
}

.archive .post-item .list-subinfo {
  display: flex;
  justify-content: space-between;
}

.list-subinfo .tags {

}

.list-subinfo .tags a {
}

/* People & Projects */
.plaque {
    border: 0px;
    border-left: 3px solid hsla(208,51.3%,50%,1);
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    border-radius: 1px;
}

.plaque {
    background: linear-gradient(135deg, hsla(212,67%,36%,0.15) 0%,hsla(212,67%,36%,0) 5%,hsla(212,67%,36%,0.10) 17%,hsla(212,67%,36%,0.1) 75%,hsla(212,67%,36%,0.1) 82%,hsla(206,70%,70%,0.4) 100%); 
}


.all-people ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.all-people ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.all-people li > .figure img {
    width: 100px;
    background-color: green;
    border-radius: 1000px;
}

.plaque ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
}

.plaque ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 0px 10px 0px 10px;
    font-size: x-small;
}

.plaque ul li p {
    margin: 0px;
}


.plaque li .figure img {
    width: 50px;
    background-color: green;
    border-radius: 1000px;
}

/* Generated by pandoc. */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
.sourceCode span.kw { color: #007020; font-weight: bold; }
.sourceCode span.dt { color: #902000; }
.sourceCode span.dv { color: #40a070; }
.sourceCode span.bn { color: #40a070; }
.sourceCode span.fl { color: #40a070; }
.sourceCode span.ch { color: #4070a0; }
.sourceCode span.st { color: #4070a0; }
.sourceCode span.co { color: #60a0b0; font-style: italic; }
.sourceCode span.ot { color: #007020; }
.sourceCode span.al { color: red; font-weight: bold; }
.sourceCode span.fu { color: #06287e; }
.sourceCode span.re { }
.sourceCode span.er { color: red; font-weight: bold; }
