.tagsDiv div{
    border:           1px solid hsl(120,50%,50%);
    border-radius:    4px;
    background-color: rgba(0,0,0,0);
    margin:           10px;
    text-align:       center;
    padding:          3px;
    font-family:      'Source Sans Pro', sans-serif;
    width:            100px;
    color:            hsl(120,50%,50%);
}

.tagsDiv div:hover{
    background-color: hsla(120,50%,50%,0.1);
}

.headlinesDiv div{
    background-color: rgba(200,0,200,0.4);
    margin:           10px;
}

svg {
    background-color: rgba(0,0,255,0.01);
}

svg text{
    font-family: 'Source Sans Pro', sans-serif;
}

g {
    background-color: rgba(0,255,0,0.4);
}

.bar {
    background-color: red;
}

rect {
    fill: hsla(200,50%,50%,0.8);
}

rect:hover {
    fill: hsla(200,50%,50%,1);
}