<ul>
    $for(posts)$
        <li class="post-item">
            <a href="$url$">$title$</a>
            <br/>
            <span class="info">$date$ $if(author)$ by $author$ $endif$</span>
            <p>
                $if(teaser)$
                    $teaser$
                <div class="read-more-parent">
                <a href="$url$" class="read-more">Read More &gt;&gt;=</a>
                </div>
                $else$
                    $body$
                $endif$
            </p>
        </li>
    $endfor$
</ul>
