
<a href="#menu"  id="menuLink" class="menu-link">
    <!-- Hamburger icon -->
    <span></span>
</a>
<div id="menu">
    <div class="pure-menu menu">
        <span class="pure-menu-heading">
            <span>CBMM @</span>
            <a href="https://github.com/CBMM">
                <img src="/images/GitHub.png"/></a>
        </span>
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <a href="/"
                   $if(page-home)$
                   class="pure-menu-link active"
                   $else$ class="pure-menu-link"
                   $endif$> <span>Home</span></a>
            </li>
            <li class="pure-menu-item">
                <a href="/about.html"
                   $if(page-about)$
                   class="pure-menu-link active"
                   $else$ class="pure-menu-link"
                   $endif$><span>About</span></a>
            </li>
            <li class="pure-menu-item">
                <a href="/tools.html"
                   $if(page-tools)$
                   class="pure-menu-link active"
                   $else$ class="pure-menu-link"
                   $endif$><span>Tools</span></a>
            </li>
            <li class="pure-menu-item">
                <a href="/people.html"
                   $if(page-people)$
                   class="pure-menu-link active"
                   $else$ class="pure-menu-link"
                   $endif$><span>People</span></a>
            </li>
            <li class="pure-menu-item">
                <a href="/contact.html"
                   $if(page-contact)$
                   class="pure-menu-link active"
                   $else$ class="pure-menu-link"
                   $endif$><span>Contact</span></a>
            </li>
            <li class="pure-menu-item">
                <a href="/archive.html"
                   $if(page-archive)$
                   class="pure-menu-link active"
                   $else$ class="pure-menu-link"
                   $endif$><span>Archive</span></a>
            </li>
        </ul>
</div>
</div>
